<div id="numberManage">
    <p>{{ count() }}</p>
    <button class="btn btn-success mx-1" (click)="increaseNumber()">Increase</button>
    <button class="btn btn-danger mx-1" (click)="decreaseNumber()">Decrease</button>
</div>

<div class="form-check mt-3">
    <input #continuousIncreaseCheck class="form-check-input mx-1" type="checkbox" value="" id="continuousIncreaseCheck" (change)="continuousIncrease($event)">
    <label class="form-check-label" for="continuousIncreaseCheck">Check for continuous increase!</label>
</div>

<div class="form-check mt-3">
    <input #continuousDecreaseCheck class="form-check-input mx-1" type="checkbox" value="" id="continuousDecreaseCheck" (change)="continuousDecrease($event)">
    <label class="form-check-label" for="continuousDecreaseCheck">Check for continuous decrease!</label>
</div>
